@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

button{
  cursor: pointer;
}

.sidebar {
  position: fixed; 
  top: 0;
  right: -250px;
  width: 250px;
  transition: 0.3s ease;
  z-index: 999;
  background-color: white;
}
.sidebar.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}

